#contact
  .wrapper
    position: absolute
    top: 50%
    left: 50px
    transform: translateY(-50%)
    width: 100%
    z-index: 10

a.cta.phone
  position: relative
  left: 0
  margin-top: 100px
  width: fit-content

  &:hover .icon
    width: 100%
    transition: .3s

  &:hover p
    color: $color1
    transition: .3s

  .icon
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    transition: .3s

  p
    margin-left: 100px
    transition: .3s

  &:hover .icon
      width: 100%

a.cta.mail
  position: relative
  left: 0
  width: fit-content
  margin-top: 30px

  &:hover .icon
    width: 100%
    transition: .3s

  &:hover p
    color: $color1
    transition: .3s

  .icon
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    transition: .3s

  p
    margin-left: 100px
    transition: .3s

  &:hover .icon
      width: 100%
