#portfolioSlider
  background: url('img/assets/background.svg')
  background-size: contain
  background-repeat: no-repeat

#mockups
  height: fit-content
  padding-bottom: 100px

  .wrapper
    .portfolio-img
      width: 100%
      height: auto
      margin: 100px 0

.duty-list
  margin: 15px 0

  li
    color: $light
    margin: 5px 0

.frame
  width: 992px

.slide__logo
  width: 992px
  position: absolute
  bottom: 0
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

  img.client-logo
    height: 50px


  .x
    width: 50px
    height: 50px
    position: relative
    margin: 50px

    &::after
      content: ""
      position: absolute
      width: 50px
      height: 1px
      top: 50%
      left: 50%
      transform: translate(-50%,-50%) rotate(45deg)
      background: $light

    &::before
      content: ""
      position: absolute
      width: 50px
      height: 1px
      top: 50%
      left: 50%
      transform: translate(-50%,-50%) rotate(-45deg)
      background: $light
