// Button

a.button
  position: relative
  margin-top: 150px
  width: fit-content

  &.tel
    margin-top: 50px

    .icon
      i
        left: 15px
        font-size: 16px

  &.mail
    margin-top: 50px

    .icon
      i
        left: 17px
        font-size: 16px

  &:hover
    .icon
      transition: .2s
      z-index: 200000

      i
        z-index: 200000

  .button-content
    position: relative
    font-weight: 600
    font-family: $regular
    padding-left: 75px
    padding-right: 25px
    font-size: $size * 1.5
    transition: .2s
    z-index: 0

  .icon
    height: 50px
    width: 50px
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    border-radius: 25px
    background: black
    transition: .2s
    overflow: hidden

    i
      font-size: 25px
      color: $white
      position: absolute
      top: 50%
      transform: translate(-50%,-50%)
      left: 50%
      transition: .2s
      z-index: 200000

    .overflow
      position: absolute
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 75px
      font-size: $size * 1.5
      font-weight: bold
      font-family: $regular
      color: white
      white-space: nowrap
