#detail.single
  padding: 100px 0

  .grid
    width: 100%
    display: grid
    grid-template-columns: calc(40% - 200px) calc(60% - 200px)
    margin-left: 200px

    .item
      display: flex
      flex-direction: column
      justify-content: center

      .large-text
        margin-left: 50px
