#gallery.single

  .gallery-item
    padding-bottom: 100px

    .img-item
      width: calc(100% - 400px)
      height: auto
      margin-left: 200px
      margin-bottom: 50px

    .large-text
      width: calc(100% - 400px)
      margin: auto
      height: auto

    .gallery-grid
      width: calc(100% - 400px)
      margin: auto
      display: grid
      grid-template-columns: 1fr 1fr
      margin-left: auto
      grid-gap: 2.5rem
      padding-bottom: 50px

      .item
        width: 100%
        height: fit-content

        img
          width: 100%
          height: auto
