#testimonial.single
  height: 100vh
  padding: 150px 0

  .wrapper
    display: flex
    flex-direction: column
    justify-content: center

    .testimonial
      margin: auto
      width: calc(100% - 400px)

      h4
        margin-bottom: 0

      p
        margin-top: 0
